<%= action_title 'New Post' %>

<%= form_for @post do |f| %>
  <fieldset id="basic_post_data">
    <legend>Post</legend>

    <p>
      <%= f.label      :title %>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label     :body %>
      <%= f.text_area :body %>
    </p>

    <p><%= submit_tag 'Submit' %></p>
  </fieldset>
<% end %>
